# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
yarn.lock
package-lock.json
pnpm-lock.yaml

# Sys
.DS_Store
.idea

# Node
node_modules/
.npmrc

# Build
dist
lib
esm

# Test
coverage

# Bundle visualizer
stats.html

# Tools
.turbo
**/tmp/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# IDE
.history/
.lh/
