# https://github.com/Automattic/node-canvas/issues/2186
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas

# 修改仓库镜像（中国镜像）
registry=https://registry.npmmirror.com
# pnpm
auto-install-peers=true
git-checks=false
