.v5-loading-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 100px;
  left: 0px;
  .v5-loading {
    text-align: center;
    transform: translate(calc(50vw - 50%), calc(50vh - 300px));
    font-size: 18px;
    color: rgba(0, 0, 0, 0.65);
    .v5-loading-img {
      width: 100px;
      margin: 16px;
    }
  }
}

.v5-controller {
  position: absolute;
  right: 16px;
  top: 140px;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  .v5-button {
    display: inline-flex;
    color: #227EFF;
    background-color: rgba(0,0,0,0);
    border: 1px solid #227EFF;
    text-align: center;
  }
  // .v5-buttons {
  //   :first-child {
  //     margin-right: 4px; 
  //   }
  //   :last-child {
  //     margin-left: 4px; 
  //   }
  // }
  .v5-select {
    width: 135px;
    margin-top: 8px;
    display: block;
  }
  .v5-custom-theme-wrapper {
    background-color: rgb(212, 230, 255);
    padding: 8px;
    margin-top: 8px;
    .v5-custom-colors-wrapper {
      .v5-custom-colors-btn {
        display: inline-flex;
        height: 19px;
        width: 19px;
        line-height: 18px;
        border: 1px dashed rgba(34, 126, 255, 0.5);
        cursor: pointer;
        padding: 0 4px;
        margin: 0;
        transform: translateY(-3px);
        color: #227EFF;
      }
    }
    .v5-custom-color {
      display: inline-flex;
      width: 21px;
      height: 25px;
      border: 0;
      margin: 0;
      padding: 0;
      background-color: rgba(0,0,0,0);
    }
    .v5-custom-apply-btn {
      width: 100%;
      border: 1px solid #227EFF;
      cursor: pointer;
      color: #227EFF;
      margin-top: 4px;
      background-color: rgba(34, 126, 255, 0.5);
    }
    .v5-custom-bg-color {
      transform: translateY(3px);
    }
  }
}