name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - v5

jobs:
  deploy-site:
    runs-on: ubuntu-latest
    steps:
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/checkout@v2
      - run: pnpm install
      - run: pnpm build
      - run: |
          cd ./packages/site
          pnpm run build
      - run: cp ./packages/site/CNAME ./packages/site/dist/CNAME
      - run: |
          cd ./packages/site/dist
          git init
          git config --local user.name antv
          git config --local user.email antv@antfin.com
          git add .
          git commit -m "update by release action"
      - uses: ad-m/github-push-action@master
        with:
          github_token: ${{secrets.PERSONAL_ACCESS_TOKEN}}
          directory: ./packages/site/dist
          branch: v5-site
          force: true
