# 自动更新版本号 / Auto Update Version
name: Auto Update Version
on:
  push:
    branches:
      - release

jobs:
  version:
    name: Update Package Version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install pnpm and dependencies
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: true

      - name: Update Version
        run: |
          cd ./packages/g6
          npm run version

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          commit: 'chore(release): update version'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
